.message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: fit-content;
    margin: 15px;
}

.message > p {
    background: #f3f3f5;
    font-size: medium;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    margin-right: auto;
}

.message > small {
    color: gray;
    position: absolute;
    bottom: -5px;
    right: 0;
    font-size: 12px;
}

.messageSender {
    margin-left: auto;
}

.messageSender > p {
    background-color: #3cabfa;
    color: white;
}

.messageSender > .messagePhoto {
    order: 1;
    margin: 15px;

}

.messagePhoto {
    order: 0;
}
